.pie-container{
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
    border-radius: 8px;
    margin-right: 800px;
    margin-left: 25px;
    margin-top: 25px;
    padding: 7px 7px 0px 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px
}

.pie1{
    display: flex;
    justify-content: space-between;
    gap: 150px
}